@font-face {
  font-family: discord;
  src: url(../public/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
} 

.app{
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 10fr;
  grid-template-rows: 1fr 10fr;
  background-color: rgb(69, 69, 69);
  color: white;
  font-family: discord;
  min-height: 100vh;
  max-height: 100vh;
}

.mainPage {
  display: grid;
  grid-template-rows: 1fr minmax(0, 5fr) 1fr;
}