@font-face {
  font-family: discord;
  src: url(../public/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
} 

.app{
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: max-content 10fr;
  grid-template-rows: 1fr 10fr;
  background-color: rgb(69, 69, 69);
  color: white;
  font-family: discord;
  height:100vh;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgb(33, 33, 33);
  box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.35);
  font-size: x-large;
  overflow-y: scroll;

}
ul > * {
  margin-bottom: 2rem;

}
@media (max-width:600px){
  .app{
    grid-template-columns: min-content 1fr auto;
  }
}