

.chatsSidebar {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  overflow-y:hidden;

}
.chat {
  transition: background-color 0.5s ease-out, box-shadow 0.5s ease-out;
  padding: 1rem;
}
.chat:hover {
  background-color: rgba(212, 212, 212, 0.35);
  box-shadow: 0px 1px 5px 0px rgba(212, 212, 212, 0.5);
  cursor: pointer;
}

.active {
  background-color: rgba(212, 212, 212, 0.35);
  box-shadow: 0px 1px 5px 0px rgba(212, 212, 212, 0.5);
}

.newChatForm {
  margin: 1rem;
}

.formControl {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 1rem;
}

@media (max-width:600px) {
  .chatsSidebar{
    min-width: min-content;
  }
  .chatsSidebar>*{
    font-size: medium;
  }
}