

::-webkit-scrollbar {
    background-color: transparent;
    width:10px;

  }
  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
  }

.currentChat{
    padding:1rem;

}

.chatMessages{
    border-radius: 10px;
max-height: 60vh;
overflow-y: scroll;
}

.messageBarContainer {
  display:flex;
    margin-top: 20px;
}

.messageBar {
  padding: 1rem;
  flex:1;
}



.otherUser{
    margin-left: 10px;
}
.currentUser{
    display:flex;
    justify-content: right;
    flex-wrap: wrap;
    margin-right: 10px;
}

.message{
    word-break: break-all;

}

li{
    display:flex;
    overflow-wrap: break-word;
}