

.userList{
  grid-row: 2;
  display:flex;
  overflow-y:hidden;
  padding:0px;
}
li{
    padding: 1rem;
}
.addFriend, .removeFriend{
    height: min-content;
    font-size: x-small;
    margin-left: 5px;
}

li>a{
    color: white;
    
}